body,footer{
    /* //background-imagen fondo */
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    font-family: 'Open Sans', sans-serif;;
}

header .nav{
    min-height: 80px;
    background-color:whitesmoke;
}

header .logo .h2
header .logo p
{
font-size: 16px;
}
header .logo p{
    color: #777;
}



