body{
    background-color: #c1cfea;
    font-family: 'Open Sans', sans-serif;;
}

header .nav{
    min-height: 80px;
    background-color:whitesmoke;
}

header .logo .h2
header .logo p
{
font-size: 16px;
}
header .logo p{
    color: #777;
}

card-body .temperatureText{
    font-weight: bold;
   
}
